body {
    background-color: #ffeec2;
}

/* ========== HEADER ========== */

.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    border-radius: 8px;
    transition: height 0.3s ease;
}

.header.slim {
    height: 30px;
}

.header_navigation{
    display: flex;
    background-color: #c4037a;
    justify-content: space-between;
    align-items: center;
}

.header_navigation .logo img{
    width:100px;
    max-height: 100px;
    padding-left: 30px;
}

.search-bar {
    margin-left: auto;
}

.search-bar form {
    display: flex;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.search-bar button {
    background-color: transparent; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    margin-left: 5px; 
    cursor: pointer;
}

.header ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header ul li{
    padding-right: 30px;
}

.header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}

.header ul li a:hover{
    color: #c87fb8;
}

#end{
    padding-right: 50px;
}

#start{
    padding-left: 50px;
}

/* ========== CONTENT ========== */

.content {
    max-width: 1000px;
    margin-top: 200px; 
    margin-left: auto;
    margin-right: auto;
}

.itens_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block_item {
    width: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    background-color: #f80174;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease; 
}

.block_item:hover{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

.block_item img {
    width: 100%;
    border-radius: 10px;
}

.block_item p {
    margin-top: 8px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
}

/* ========== FOOTER ========== */

button {
    background-color: #fff;
    color: #322c8e;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    margin-top: 30px;
    background-color: #322c8e;
    color: #fff;
    padding: 20px;
    text-align: left;
}

.footer-column {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.social-icons li a {
    transition: color 0.3s ease; 
}

.social-icons li:nth-child(1):hover a {
    color: #01b11f; 
}

.social-icons li:nth-child(1):hover i {
    color: #01b11f; 
}

.social-icons li:nth-child(2):hover a {
    color: #cf0000; 
}

.social-icons li:nth-child(2):hover i {
    color: #cf0000; 
}

.social-icons li:nth-child(3):hover a {
    color: #2309b4; 
}

.social-icons li:nth-child(3):hover i {
    color: #2309b4; 
}

/* ========== MODAL ========== */

.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    display: none; 
    background-color: #fff;
    color: #322c8e;
    border: 1px solid #322c8e;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; 
}

.modal-button {
    display: block;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 56px;
}
.modal-button:hover {
    background-color: #45a049;
}

.back-to-top-button i {
    margin-right: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.modal-open {
    overflow: hidden;
}

.modal-content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fe9e8e;
    padding: 20px;
    border: 6px solid #322c8e;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 80%; 
    max-width: 900px; 
}

.modal-title {
    color: #000;
    font-size: 25px;
    text-align: justify;
}

.modal-title p{
    font-style: italic;
    padding-top: 20px;
    font-size: 15px;
    text-align: left;
    padding-bottom: 30px;
}

#modalDescription{
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
    
}

#modalPrice{
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    color: chocolate;
}

.left-column {
    flex: 1;
    padding-right: 10px;
}

.right-column {
    background-color: #eeedea;
    border-radius: 8px;
    flex: 1;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modalImage {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

#img-container {
    display: flex;
    padding-bottom: 20px;
}

#img-container img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

#img-container img:hover{
    border: 2px solid chocolate;
}

.close {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    top: 20px;
}

.close:hover {
    color: #904b82;
}

/*==============================*/

@media only screen and (max-width: 600px) {

    .header{
        margin-bottom: 30px;
        position:relative;
    }
    .header_navigation {
        flex-direction: column;
        align-items: center; 
        margin: 0;
    }

    .header_navigation .logo img{
        padding-bottom: 10px;
        margin: 0;
    }

    .block_item {
        width: calc(50% - 20px);
    }

    .content{
        margin-top: 100px;
    }

    .search-bar {
        display: flex;
        margin: 20px;
    }

    .header ul li{
        padding-bottom: 10px;
    }

    #end{
        padding-right: 0px;
    }

    #start{
        padding-left: 0px;
    }

    .modal-content {
        width: 80%; 
        padding: 10px; 
    }

    #modalImage {
        max-width: 100%; 
        height: 100%; 
        margin-top: 10px;
    }

    .right-column {
        background-color: #c2bdc2;
        border-radius: 8px;
        flex: 1;
        max-width: 50%; 
        height: 100%;
        padding: 0px 20px;
        display: flex;
        flex-direction:column;
    }

    .back-to-top-button {
        display: none; 
    }

    .modal-content {
        width: 90%; 
        max-width: 100%; 
    }

    .left-column, .right-column {
        flex: 1;
        width: 100%; 
        padding: 10px; 
    }

    #img-container img {
        width: 40px; 
        height: 40px; 
        margin-right: 5px; 
    }

    button {
        padding: 6px; 
    }

    footer {
        padding: 15px; 
        text-align: center; 
    }

    .footer-column {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .social-icons li {
        margin-right: 8px; 
    }
}